.wrapper {
  width: 100%;
  height: 100%;
  background: url(../assets/img/bagroung-img-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  user-select: none;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0.4) 170%
  );
  background-size: cover;
  z-index: 1;
}
.wrapper {
  width: 100%;
  height: 100%;
  background: url(../assets/img/bagroung-img-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0.4) 170%
  );
  background-size: cover;
  z-index: 1;
}

@media only screen and (max-width: 430px) {
  .wrapper::before {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 10%,
      rgba(0, 0, 0, 0.2) 170%
    ) !important;
  }
}
